*
    box-sizing: border-box
    // border: 1px solid

@import '@/styles/colors.sass'
@import '@/styles/mixin.sass'

.calculator
    height: 100vh
    +flexCenter

    .container
        .flex.flex-wrap
            justify-content: center

            .card
                background-color: $color_grey
                border-radius: 5px
                box-shadow: 5px 5px 0px $color_purple, -5px -5px 15px $color_grey

            .box
                padding: 15px
                
                .card
                    overflow: hidden

                    .operator, .number
                        padding: 10px 11%
                        text-align: right
                        background-color: $color_white

                    .operator
                        h4
                            font-size: 20px
                            
                    .number
                        h3
                            font-size: 25px

                    .btnList
                        background-color: $color_white

                        button.btn.btnSymbol
                            width: 25%
                            padding: 10px
                            outline: none
                            transition: background-color 0.5s
                            
                            &:hover
                                background-color: $color_purple
                        
                        button.btn.btnSymbol.active
                            background-color: $color_purple